/******************************************************************
Site Name: 
Author: 

Stylesheet: 

******************************************************************/

/*********************
GENERAL STYLES
*********************/

.overlay {
}

/*********************
LAYOUT & GRID STYLES
*********************/



/*********************
TYPE
*********************/

h1 {
	font-size:1.9em;
	margin-bottom:0.5em;
}

p.hint {
	top:0.5em;
}

/*********************
HEADER STYLES
*********************/


	
/*********************
LOGO STYLES
*********************/


/*********************
BUTTON STYLES
*********************/


.button, .button:visited {
	width:48%;
	margin:0 1%;
	font-size:90%;
}


/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/

.footer {
	margin-top:1.5em;
}
	
/*********************
TRANSITIONS
*********************/