/******************************************************************
Site Name: 
Author: 

Stylesheet: 

******************************************************************/

/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/

.overlay {
	padding-top:5em;	
}

#buttons {
	.button {
		width:18em;
		margin:0 auto 1em auto;
		display:block;
	}
}

/*********************
TYPE
*********************/

body {
	font-size:20px;
}

h1 {
	font-size:2.5em;
}

/*********************
HEADER STYLES
*********************/


	
/*********************
LOGO STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/


	
/*********************
TRANSITIONS
*********************/